# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# VS Code
# ================================
.vscode/

# ================================
# Data files
# (Si deseas versionar el CSV, elimina esta línea)
# ================================
data/*.csv

# ================================
# System files
# ================================
.DS_Store
Thumbs.db
